$icomoon-font-path: '../fonts/icomoon' !default;
$ico-font-family: 'icomoon';

$ico-bookmarks: "\e90d";
$ico-box1: "\e90e";
$ico-cart: "\e90f";
$ico-chat: "\e910";
$ico-config: "\e911";
$ico-date: "\e912";
$ico-hourglass: "\e913";
$ico-id: "\e914";
$ico-joy: "\e915";
$ico-photo-gallery: "\e916";
$ico-piggy: "\e917";
$ico-shield: "\e918";
$ico-star: "\e919";
$ico-ticket: "\e91a";
$ico-tools: "\e91b";
$ico-user-female: "\e91c";
$ico-user: "\e91d";
$ico-users: "\e91e";
$ico-angle-down: "\e900";
$ico-angle-left: "\e901";
$ico-angle-right: "\e902";
$ico-angle-up: "\e903";
$ico-caret-down: "\e904";
$ico-caret-left: "\e905";
$ico-caret-right: "\e906";
$ico-caret-up: "\e907";
$ico-envelope: "\e908";
$ico-facebook: "\e909";
$ico-search: "\e90a";
$ico-twitter: "\e90b";
$ico-youtube-play: "\e90c";


