<div class="feature">
    <div class="feature-image">
        <img class="feature-icon" src="assets/images/stroke/piggy.svg">
    </div>
    <h2 class="feature-heading">Low Simple Fees</h2>
    <p class="feature-body">Gimko has low, simple fees and no hidden costs. All standard listings are free with no re-listing fees...</p>
</div>