<div class="navbar navbar-default yamm">
    <div class="logo">
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="dropdown yamm-fw mm-buy"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Buy<i class="angle"></i></a>
                <ul class="dropdown-menu">
                    <li class="grid-demo">
                        <div class="row">
                            <div class="col-sm-3 mm-buy-left">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#tab-buy-1" aria-controls="profile" role="tab" data-toggle="tab"><i class="ico ico-photo-gallery"></i>Editor's Choice</a>
                                    </li>
                                    <li role="presentation"><a href="#tab-buy-2" aria-controls="messages" role="tab" data-toggle="tab"><i class="ico ico-date"></i>Memorabilia</a></li>
                                    <li role="presentation"><a href="#tab-buy-3" aria-controls="settings" role="tab" data-toggle="tab"><i class="ico ico-joy"></i>Video Games</a></li>
                                    <li role="presentation"><a href="#tab-buy-4" aria-controls="settings" role="tab" data-toggle="tab"><i class="ico ico-bookmarks"></i>Comic Books</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-9 mm-buy-right">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="tab-buy-1">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h2>Sports Cards</h2>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <ul class="mm-list">
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <ul class="mm-list">
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h2>Sports Cards</h2>
                                                        <ul  class="mm-list">
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <h2>Sports Cards</h2>
                                                        <ul  class="mm-list">
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="padding-right: 30px;">
                                                <h2>Sports Cards</h2>
                                                <div class="row">
                                                    <div class="col-md-6" >
                                                        <ul class="mm-list">
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <ul class="mm-list">
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                            <li><a href="#">Item 1</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="mm-image-box">
                                                        <img src="assets/images/pokemon-collide.jpg">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="tab-buy-2">Tab 2</div>
                                    <div role="tabpanel" class="tab-pane" id="tab-buy-3">Tab 3</div>
                                    <div role="tabpanel" class="tab-pane" id="tab-buy-4">Tab 4</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="true">Help<i class="angle"></i></a>
                <ul role="menu" class="dropdown-menu">
                    <li><a tabindex="-1" href="#"> Action </a></li>
                    <li><a tabindex="-1" href="#"> Another action </a></li>
                    <li><a tabindex="-1" href="#"> Something else here </a></li>
                    <li><a tabindex="-1" href="#"> Separated link </a></li>
                </ul>
            </li>
            <li class="dropdown yamm-fw mm-my-gimko"><a href="#" data-toggle="dropdown" class="dropdown-toggle">My Gimko<i class="angle"></i></a>
                <ul class="dropdown-menu">
                    <li class="yamm-wrap">
                        <div class="row">
                            <div class="col-sm-3">
                                <h2 class="mm-mygimkoe-heading">My Account</h2>
                                <ul class="mm-list">
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Privacy</a></li>
                                    <li><a href="#">Terms</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <h2 class="mm-mygimkoe-heading">My Account</h2>
                                <ul class="mm-list">
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Privacy</a></li>
                                    <li><a href="#">Terms</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <h2 class="mm-mygimkoe-heading">My Account</h2>
                                <ul class="mm-list">
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Privacy</a></li>
                                    <li><a href="#">Terms</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <h2 class="mm-mygimkoe-heading">My Account</h2>
                                <ul class="mm-list">
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Privacy</a></li>
                                    <li><a href="#">Terms</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>