.different-currencies {
  width: 100%;
  margin: 0 auto;
  padding-top: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  @include clearfix();
  @media #{$medium-only} {
    width: 100%;
    padding: 0 10px 30px 10px;
  }
  @media #{$small-only} {
    padding: 0 10px 30px 10px;
  }
  @media #{$tiny-only} {
    padding: 0 10px 20px 10px;
  }
  ul {
    list-style: none;
    li {
      list-style: none;
      width: 100px;
      float: left;
      margin-right: 10px;
      margin-bottom: 5px;
      input {
        margin-right: 4px;
      }
    }
  }
}

#toggle-different-currencies {
  &:after {
    @include fa-icon();
    content: $fa-var-caret-down;
    cursor: pointer;
    background: none;
    color: #FFF;
    padding: 3px 5px 3px 8px;
  }
  &.open {
    &:after {
      @include fa-icon();
      content: $fa-var-caret-up;
      cursor: pointer;
      background: none;
      color: #FFF;
      padding: 3px 5px 3px 8px;
    }
  }
}