.recommended-brokers {
  @media #{$small-only} {
    display: none;
  }
  .brokers {
    border-bottom: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .broker {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      padding: 10px;
      @media #{$medium-only} {
        padding: 10px;
      }
      img {
        @include responsive-image();
      }
      h2 {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 15px;
        color: $primary-color;
      }
      h3 {
        font-size: 16px;
        font-weight: 700;
        margin-top: 8px;
        margin-bottom: 8px;
        color: #000000;
      }
      p {
        color: #666666;
        margin-bottom: 10px;
      }
    }
  }
}
