<div class="banner-top">
    <div class="banner">
        <img class="banner-728x90" src="assets/images/banner-728x90.gif">
        <img class="banner-420x50" src="assets/images/banner-420x50.png">
        <img class="banner-300x250" src="assets/images/banner-300x250.png">
    </div>
</div>