<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-top">
            <div class="footer-left col-md-8">
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="footer-menu-heading">Sell</h3>
                        <ul class="footer-menu">
                            <li><a href="#">Sell Items Now</a></li>
                            <li><a href="#">Selling Guidelines</a></li>
                            <li><a href="#">Selling Fees</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3 class="footer-menu-heading">Buy</h3>
                        <ul class="footer-menu">
                            <li><a href="#">Sell Items Now</a></li>
                            <li><a href="#">Selling Guidelines</a></li>
                            <li><a href="#">Selling Fees</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3 class="footer-menu-heading">Community</h3>
                        <ul class="footer-menu">
                            <li><a href="#">Sell Items Now</a></li>
                            <li><a href="#">Selling Guidelines</a></li>
                            <li><a href="#">Selling Fees</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3 class="footer-menu-heading">Help</h3>
                        <ul class="footer-menu">
                            <li><a href="#">Sell Items Now</a></li>
                            <li><a href="#">Selling Guidelines</a></li>
                            <li><a href="#">Selling Fees</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-right col-md-4">
                <div class="newsletter">
                    <h3 class="newsletter-heading">Newsletter</h3>
                    <p class="newsletter-body">Be the first to hear about our latest news & announcements.</p>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Email Address">
                        <span class="input-group-btn">
                         <button class="btn btn-steel" type="submit">Subscribe</button>
                         </span>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="footer-divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="footer-bottom">
            <div class="col-md-8">
                <div class="copyright-terms">
                    <span class="copyright">© Gimko Pty Ltd. 2013. All Rights Reserved.</span>
                </div>
                <ul class="footer-menu-bottom">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Terms</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="social">
                    <span class="follow-us">Follow us on</span>
                    <a href="#"><i class="ico ico-youtube-play"></i></a>
                    <a href="#"><i class="ico ico-facebook"></i></a>
                    <a href="#"><i class="ico ico-twitter"></i></a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>