<div id="menu-mobile">
    <form id="menu-mobile-search-form" class="menu-mobile-search-form" method="get" action="/" name="">
        <input class="search__input-field" type="text" placeholder="Search CNN..." id="search-input-field" name="q">
        <button id="submit-button" class="search__submit-button"></button>
    </form>
    <ul>
        <li>

        </li>
        <li><a href="home.cfm"><span>Home</span></a></li>
        <li><a href="#"><span>Broker Search</span></a>
            <ul>
                <li><a href="#">MT4 - Brokers</a></li>
                <li><a href="#">MT5 - Brokers</a></li>
                <li><a href="#">cTrader Brokers</a></li>
                <li><a href="#">MT4 - Brokers</a></li>
                <li><a href="#">MT5 - Brokers</a></li>
                <li><a href="#">cTrader Brokers</a></li>
                <li><a href="#">MT4 - Brokers</a></li>
                <li><a href="#">MT5 - Brokers</a></li>
                <li><a href="#">cTrader Brokers</a></li>
            </ul>
            <ul>
                <li><a href="#">4 Digit Brokers</a></li>
                <li><a href="#">5 Digit Brokers(107)</a></li>
                <li><a href="#">ECN - Brokers(53)</a></li>
                <li><a href="#"> Brokers With STP Accounts(21)</a></li>
            </ul>
        </li>
        <li><a href="#"><span>Compare Brokers</span></a>
            <ul>
                <li><a href="#">MT4 - Brokers</a></li>
                <li><a href="#">MT5 - Brokers</a></li>
                <li><a href="#">cTrader Brokers</a></li>
                <li><a href="#">MT4 - Brokers</a></li>
                <li><a href="#">MT5 - Brokers</a></li>
                <li><a href="#">cTrader Brokers</a></li>
                <li><a href="#">MT4 - Brokers</a></li>
                <li><a href="#">MT5 - Brokers</a></li>
                <li><a href="#">cTrader Brokers</a></li>
            </ul>

        </li>
        <li><a href="#"><span>FX Bonuses</span></a></li>
        <li><a href="#"><span>Tools</span></a></li>
        <li class="menu-large"><a href="#"><span>Market Times & Holidays</span></a></li>
        <li><a href="#"><span>Contact Us</span></a></li>
    </ul>
</div>