<div class="menu-container">
    <div class="menu">

        <ul>
            <li class="menu-first"><a href="/"><span>Home</span></a></li>
            <li><a href="#"><span>Broker Search</span></a>
                <ul>
                    <li><h2>Forex Brokers</h2>
                        <ul>
                            <li><a href="broker-search.html">Forex Broker Search</a></li>
                            <li><a href="detail.html">Detail 1</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                        </ul>
                    </li>
                    <li><h2>Digit Brokers</h2>
                        <ul>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                        </ul>
                    </li>
                    <li><h2>Sponsored Broker</h2>
                        <div class="sponsored-broker">
                            <img src="assets/images/fxproSov.png">
                            <p>Deposit $250 or more to Instantly receive a 100% Withdrawable Bonus deposited to your account! Up to $20,000.</p>
                        </div>
                    </li>
                </ul>
            </li>
            <li><a href="#"><span>Compare Brokers</span></a>
                <ul>
                    <li><h2>Forex Brokers</h2>
                        <ul>
                            <li><a href="swaps.html">Forex Broker Swaps Comparison</a></li>
                            <li><a href="detail.html">Detail 1</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#"><span>Live Data</span></a>
                <ul>
                    <li><h2>Forex Brokers</h2>
                        <ul>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#"><span>FX Bonuses</span></a></li>
            <li><a href="#"><span>Tools</span></a></li>
            <li class="menu-large"><a href="#"><span>Market Times & Holidays</span></a></li>
            <li><a href="#"><span>Contact Us</span></a></li>

        </ul>
    </div>
</div>


