<div class="search">
    <form id="" action="/home.cfm" method="post" onsubmit="return _CF_checkCFForm_1(this)">
        <input class="search-input-broker" name="" type="text" placeholder="Forex Broker" autocomplete="off">
        <input class="search-input-submit form-submit" name="" type="submit" value="Submit">
    </form>
</div>